body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

.nav {
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.quote {
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border-left: 2px solid black;
}

.attribution {
  margin-bottom: 50px;
}

